$base-font-map: (
  null:   (ms(0), 1.5),
  medium: (ms(0), 1.5),
  large:  (ms(1), 1.5)
);

$heading-font-map: (
  null:   (ms(1), 1.5),
  medium: (ms(2), 1.5),
  large:  (ms(4), 1.5)
);

$subheading-font-map: (
  null:   (ms(0), 1.5),
  medium: (ms(1), 1.5),
  large:  (ms(2), 1.5)
);

$typi: $base-font-map;
